.news-and-events{
    min-height: 600px;
    vertical-align:top;
    margin-bottom:50px;
    background: transparent;/*#bde5f6;*/
    /* Old browsers */
    background: url('img/illustrations/butterflies-bottom-right_03.png') 770px bottom no-repeat,
                -webkit-linear-gradient(top, #bde5f6 0, #fff 150px);
    background: url('img/illustrations/butterflies-bottom-right_03.png') 770px bottom no-repeat,
                -webkit-gradient(linear, left top, left bottom, color-stop(0, #bde5f6 0), color-stop(1, #fff 150px));
    background: url('img/illustrations/butterflies-bottom-right_03.png') 770px bottom no-repeat,
                -moz-linear-gradient(top, #bde5f6 0, #fff 150px);
    background: url('img/illustrations/butterflies-bottom-right_03.png') 770px bottom no-repeat,
                -o-linear-gradient(top, #bde5f6 0, #fff 150px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bde5f6', endColorstr='#ffffff');
    background: url('img/illustrations/butterflies-bottom-right_03.png') 770px bottom no-repeat,
                -webkit-linear-gradient(top, #bde5f6 0, #fff 150px);
    /* W3C */

    }

.calendar{
    font-family: LexiaBold, Georgia, serif;

    display:inline-block;
    background:transparent;
    width:195px;
    padding: 0;

    border: 0;
    margin: 0;

    color:white;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 10px;
}

.calendar .months{
    background:#f79247;
    width:195px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding:1px 0 5px 0;
    text-align: center;
}

.calendar .months>span
{
    vertical-align: middle;
    height:18px;
}
.calendar .months a{
    vertical-align: middle;
    color:#fff;
    display: inline-block;
    width: 15px;
    margin: 0 6px 0 6px;
    overflow: hidden;
    height:15px;
}

.calendar .months a{
    width:15px;
}

.calendar .months a{
    background: url('img/solid-white-arrows.png') 0 15px;
}
.calendar .months a:nth-child(1n+2){
    background: url('img/solid-white-arrows.png') -16px 15px;
}

.calendar .months .current-month{
    text-transform: uppercase;
    display: inline-block;
    width: 133px;
}

.calendar .months .current-month .year{
    font-size: 1.1em;
}

.calendar .days-of-week{
    background: #f57b20;
    text-align:center;
    font-size: 10px;
}


.calendar .days-of-week td,
.calendar .days-in-month td{
    width:28px;
    height:22px;
    text-align: center;
    vertical-align: middle;
}

.calendar table{
    background: #fff;
}

.calendar .days-in-month{
    /*background: #f1f1f1;*/
    border: none 0 transparent;
}

.calendar .days-in-month td{
    border-right: dotted 1px #cecece;
    border-bottom: dotted 1px #cecece;
    background: #f1f1f1;
}

.calendar .days-in-month tr td:last-child{
    border-right: none 0 transparent;
}

.calendar .days-in-month tr:last-child td{
    border-bottom: none 0 transparent;
}

.calendar .days-in-month td a{
    font-family: LexiaBold, Georgia, serif;
    color: #000;
    text-decoration: none;
    font-size: 10px;
    font-weight: bolder;
}

.calendar .days-in-month tr:last-child td{
    padding-bottom: 3px;
}
.calendar .days-in-month tr:last-child td:first-child{
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}
.calendar .days-in-month tr:last-child td:last-child{
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.events-for-month {
    width:450px;
    display:inline-block;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 0;
    padding-top:0;
}

.events-for-month .event{
    margin-top:15px;
    padding-top:15px;
    border-top: 2px solid #e5e7e7;
    position:relative;
}
.events-for-month .event:first-child{
    margin-top: 0;
}
.events-for-month .event>time{
    font-family: LexiaRegular, Georgia, serif;
    font-size: 12px;
    text-transform: uppercase;

    max-width:100px;
    display:inline-block;

    color:#00629b;
    padding-top:10px;
}

.events-for-month .event>hgroup{
    vertical-align: top;
    /*width:340px;*/
    /*max-width:340px;*/
    width:320px;
    display:inline-block;
    margin-left: 10px;
    margin-bottom:20px;
}

.events-for-month .event>hgroup h1,
.events-for-month .event>hgroup h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#00629b;
}

.events-for-month .event>hgroup h1{
    margin-bottom:10px;
}

.events-for-month .event>hgroup h2{
    font-size: 16px;
    font-weight: normal;
    color:#000;
}

.events-for-month .event .controls{
    display:inline-block;
    width:50px;
    text-align:right;
}

.events-for-month .event .event-detail
{
    padding-left:75px;
}

.events-for-month .event .event-detail div{
    margin: 10px 0;
}

.events-for-month .event .event-detail  p{
    margin-bottom:10px;
}

.events-for-month .event .dayofmonth {
    font-family: LexiaBold, Georgia, serif;
    font-size: 32px;
    color:#00629b;
}

.event .controls{
    width:30px;
    position:absolute;
    right:10px;
    top:10px;
}
.button.expand,
.button.contract {
    font-size: 24px;
    line-height: 24px;

    text-align: center;
    width:28px;
    height:28px;
    padding:0;
    vertical-align: top;
}

.gotopost{
    display:none;
}

.calendar .days-in-month .has-events a{
    display:block;
    width:100%;
    height:100%;
    background: #52bdec;
    margin:0;
    padding: 0;
    color:#fff;

}

.calendar .days-in-month .previous-month a,
.calendar .days-in-month .next-month a{
    color:#8c979f;
}